
    <!-- *************** Header Navigation ************** -->

    <nav>
      <div class="nav-container">
        <div class="logo">
          <a href="/"
            ><img class="nav__logo" src="/Pictures/Logoedited.png" alt=""
          /></a>
        </div>

        <!-- ------- Desktop Menu --------- -->
        <div class="nav__menu-desktop--container">
          <ul class="nav__menu-list">
            <li class="nav__menu-item">
              <a class="nav__menu-item text" href="/">Home</a>
            </li>
            <li class="nav__menu-item">
              <a href="/live" class="nav__menu-item text">Live Klassen</a>
            </li>
            <li class="nav__menu-item">
              <a class="nav__menu-item text" href="/blog">Blog</a>
            </li>
            <li class="nav__menu-item">
              <a class="nav__menu-item text" href="/reviews">Reviews</a>
            </li>
          </ul>
        </div>

        <!-- ------- Mobile Menu --------- -->
        <div class="mobile-trigger visible">
          <div class="burger element-one"></div>
          <div class="burger element-two"></div>
          <div class="burger element-three"></div>
        </div>
        <div id="mobile-menu" class="nav__menu-mobile--container closed">
          <ul class="nav__menu-list--mobile">
            <li class="nav__menu-item--mobile">
              <a class="nav__menu-item-text--mobile" href="/">Home</a>
            </li>
            <hr class="mobile-separator" />
            <li class="nav__menu-item--mobile">
              <a class="nav__menu-item-text--mobile" href="/live">Live Klassen</a>
            </li>
            <hr class="mobile-separator" />
            <li class="nav__menu-item--mobile">
              <a class="nav__menu-item-text--mobile" href="/blog">Blog</a>
            </li>
            <hr class="mobile-separator" />
            <li class="nav__menu-item--mobile">
              <a class="nav__menu-item-text--mobile" href="/reviews">Reviews</a>
            </li>
            <hr class="mobile-separator" />
            <div class="nav__menu-social--mobile">
              <a href="www.facebook.com"
                ><i class="fab fa-facebook-f social-mobile"></i
              ></a>
              <a href="www.facebook.com"
                ><i class="fab fa-instagram social-mobile"></i
              ></a>
            </div>
          </ul>
        </div>

        <!-- ------- Social Icons --------- -->

        <div class="social-icons">
          <a href="www.facebook.com"
            ><i class="fab fa-facebook-f social-desktop"></i
          ></a>
          <a href="www.facebook.com"
            ><i class="fab fa-instagram social-desktop"></i
          ></a>
        </div>
      </div>
    </nav>