<% layout('layouts/boilerplate') %>

<div class="offering-hero">
  <h1>Mein Angebot</h1>
  <div class="hero__overlay"></div>
</div>

<section class="offerings-section">
  <h2>Aktuelle Infos zu Kursen</h2>

  <div class="offerings-grid">
    <div class="offering__card">
      <div class="inner_offering">
        <h4>Privateinheiten</h4>
      </div>
      <div class="inner_offering">
        <p class="offering__card--where">
          <span class="offering__card-w">Wo?</span>In meinen Räumlichkeiten oder
          bequem bei dir zuhause.
        </p>
      </div>
      <div class="inner_offering">
        <p class="offering__card--what">
          <span class="offering__card-w">Was?</span> Eine auf deine Bedürfnisse
          zugeschnittene Einheit. Grundsätzlich bestehend aus Körperübungen,
          Atemtechniken, Entspannung und Meditation. Aber je nach Wunsch auch
          nur 1 der genannten Optionen.
        </p>
      </div>
      <div class="inner_offering">
        <h5>Preis</h5>
        <p class="offering__card--price">
          60 min <span class="price-span">€50,-</span>
        </p>
        <p class="offering__card--price">
          5 Einheiten <span class="price-span">€230,-</span>
        </p>
        <p class="offering__card--price">
          10 Einheiten <span class="price-span">€450,-</span>
        </p>
      </div>
    </div>

    <div class="offering__card">
      <div class="inner_offering">
        <h4>Gruppenkurse</h4>
      </div>
      <div class="inner_offering">
        <p class="offering__card--where group">
          <span class="offering__card-w">Wo?</span>Burgkirchen/ Turnsaal
          Volksschule <br /><span class="yoga-time">Dienstag 18:30 - 19:45</span>
          <br />
          <span class="yoga-time">Dienstag 20:00 - 21:00</span> <br />
          Fit Fabrik Braunau <br /><span class="yoga-time"
            >Montag 19:00 - 20:00</span
          >
          <br />
          <span class="yoga-time">Donnerstag 19:00 - 20:00</span>
        </p>
      </div>
      <div class="inner_offering">
        <p class="offering__card--what">
          <span class="offering__card-w">Was?</span> Gruppeneinheiten für
          Beginner und Fortgeschrittene. Ich arbeite sehr viel mit
          Modifikationen, daher sind die Einheiten für jeden geeignet.
          <br /><br />
          Flow Sequenzen wechseln sich hier schön mit längeren Haltepositionen
          ab um den Körper besser zu fühlen. Wir runden die Einheiten mit
          Pranayama und Entspannung ab um vollständig loszulassen.
        </p>
      </div>
      <div class="inner_offering">
        <h5>Preis</h5>
        <p class="offering__card--price">
          75min <span class="price-span">€14,-</span>
        </p>
        <p class="offering__card--price">
          10 Einheiten <span class="price-span">€100,-</span>
        </p>
        <p>Preise gelten nur für BJJ Academy Braunau Kurse.</p>
      </div>
    </div>

    <div class="offering__card">
      <div class="inner_offering">
        <h4>Firmenyoga</h4>
      </div>
      <div class="inner_offering">
        <p class="offering__card--where">
          <span class="offering__card-w"
            >Entspannende Gruppenklassen für Ihre Mitarbeiter. Melden Sie sich
            gerne bei mir für ein individuelles Angebot.</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
